@font-face {
    font-family: Terminal;
    src: url("assets/BigBlue_TerminalPlus.TTF");
}
@keyframes flame {
    from {
        text-shadow: 0px 0px 9px rgba(107, 180, 82, .8);
        animation-timing-function: linear;
    }
    to {
        text-shadow: 0px 0px 13px rgba(107, 180, 82, .5);
        animation-timing-function: linear;
    }
}
@keyframes run {
    0% {
        top: -1500px;
    }
    100% {
        top: 80%;
        opacity: .1;
    }
}
html {
    background-color: #141414;
}
body {
    display: flex;
    font-family: Terminal;
    color: #6bb452;
    animation: flame 1s infinite;
    font-size: 30px;
}
.content {
    position: absolute;
    top: 75px;
    left: 5vw;
    right: 5vw;
    bottom: 100px;
}
table {
    width: 100%;
    border: #6bb452 double 9px;
    padding: 10px;
}
.enterLine {
    position: absolute;
    bottom: 10px;
}
.title{
    position: absolute;
    top: 20px;
    left: 7vw;
    z-index: 50;
    background-color: #141414;
    padding: 0 30px;
}
.read {
    position: absolute;
    top: 63px;
    right: 10vw;
    z-index: 51;
    background-color: #141414;
    padding: 0 30px;
}
.mainWindow {
    z-index: 0;
    position: absolute;
    top: 35px;
    left: 2vw;
    right: 2vw;
    bottom: 50px;
    border: #6bb452 double 9px;
}
.helpscreen {
    position: absolute;
    width: 90%;
    height: 90%;
}
.runline {
    z-index: 55;
    position: absolute;
    opacity: .2;
    width: 99%;
    height: 150px;
    animation: run 6s infinite linear;
}
.texture {
    opacity: .4;
    z-index: 53;
    position: absolute;
    width: 99%;
    height: 99%;
    background-image: url("assets/texture.png");
    background-position: top left;
    background-repeat: repeat-y;
}